#header_id{
  background-color:  rgb(171, 171, 227);
color: white!important;
height: 40rem;
padding: 22rem;
background-image: url('../../images/comp.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed ;
border-radius: 80px;
z-index: -1;
margin-left: 15px;
margin-right: 15px;
margin-top: 90px;

}

#back_to_top_id {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 20%;
    text-decoration:wavy;
    transition: background-color 0.4s, color 0.3s;
  }
  
  #back_to_top_id:hover {
    background-color: #3e3e3e;
    color: #ffffff;
  }
  
  #back_to_top_id i {
    font-size: 1.5rem;
  }
  