<header id="header_id" >

<div class="jumbotron text-white">
  <div class="container">
    <div class="text-center p-5">
      <h1 class="text-uppercase shadow" style="color: white;">SOCIAL</h1>
      <div id="header_social" class="mt-4 mb-3">
      <a href="" class="btn btn-info me-2">Linkedin</a>
      <a href="" class="btn btn-info me-2">Github</a>
      <a href="" class="btn btn-info">Behance</a>
    </div>
  </div>
</div>
</div>

<a
  id="back_to_top_id"
  href="#header_id"
  class="back-to-top rounded-2 d-flex align-items-center justify-content-center">**</a>
</header>