#footer_id{
height: auto;
color: white!important;
background-image: url('https://cdn.pixabay.com/photo/2016/07/22/16/29/fog-1535201_1280.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed ;
background-size: cover;

}
.footer i,
.footer p {
    font-weight: bolder; 
    color: black;
}

