#footer_id{
    height: 45rem;
    text-align: center;
    padding: 6rem;

color: white!important;
background-image: url('https://cdn.pixabay.com/photo/2021/02/02/21/56/street-5975602_1280.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed ;
background-size: cover;
border-radius: 80px;
margin-left: 15px;
margin-right: 15px;
}
