<footer id="footer_id" class="text-center text-lg-start bg-body-tertiary text-muted" style="font-family: 'Raleway', sans-serif;">
    



  
    <section class="">
      <div class="container text-center text-md-start mt-5 d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>THANKS !
            </h6>
            <p>
              Welcome and goodbye to a site where you can find a brief summary of my life and me.
               Thank you for taking the time to read a brief summary of my life...
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
          
            <p>
              <a href="#!" class="text-reset">Typescript</a>
            </p>      
            <p>
                <a href="#!" class="text-reset">Javascript</a>
              </p>
              <p>
                <a href="#!" class="text-reset">HTML5-CSS3</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Bootstrap</a>
              </p>
            
          </div>
  
      
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Bursa, Turkey </p>
            <p>
              <i class="fas fa-envelope me-3"></i>e-mail</p>
            <p><i class="fas fa-phone me-3"></i>+90 534 665 64 78</p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4" style="margin-bottom: auto;">
        &copy; Copyright 2023 - <span id="footer_date_id">{{newDateData()}}</span> 
        
        <span style="display: block;"> By Design & Codes:
    <a href="Owner">Dilara Çakmak</a> </span>
       
    <p>Angular Single Page Project</p>
    </div>
  </footer>




