

:root{
    --my_one_page_bg:rgb(0, 0, 0);
    --my_one_page_color:black;
    
}
*{
   padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
            list-style: none;
            text-decoration: none;
            scroll-behavior: smooth;
            border: none;
            outline: none;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--my_one_page_bg);
    background-color: var(--my_one_page_color);

}


ul{
list-style-type: none;
}

a{
    text-decoration: none;
}


.line-clamp5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}