<div id="main_id" class="container-fluid" style="margin-top:5rem;">
    <main>
        <section id="business_id">
            <h2 class="text-center display-4 text-primary mb-4 mb-4 ">{{MyOnePageContent[0].title | uppercase}}</h2>
        
            <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <i class="fa-solid fa-code"></i>
                    <h4>Frontend</h4>   
                    <p class="line-clamp4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, officia. Numquam expedita quo voluptate tempora illo unde deleniti quam nam eum fugiat! Enim illum non officiis odio velit, earum ducimus?
                </div>


                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <i class="fa-solid fa-computer"></i>
                    <h4>Frontend</h4>   
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, officia. Numquam expedita quo voluptate tempora illo unde deleniti quam nam eum fugiat! Enim illum non officiis odio velit, earum ducimus?
                </div>


                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <i class="fa-solid fa-laptop-code"></i>
                    <h4>Frontend</h4>   
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, officia. Numquam expedita quo voluptate tempora illo unde deleniti quam nam eum fugiat! Enim illum non officiis odio velit, earum ducimus?
                </div>
               
            </div>
        </div>
        
        </section>
       
        
<!-- about me  -->
<section id="about_me_id">
<h2 class="text-center display-4  mb-4 mb-4 ">{{MyOnePageContent[1].title | uppercase}}</h2>
    <p  style="font-size: 3rem;">about me</p>
<p><span style="font-size: 3rem;"></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iure porro, illo dignissimos veritatis ipsum incidunt quasi voluptatem. Doloribus magni hic qui, officiis error animi eveniet? Itaque tempora tempore debitis.
    Voluptatibus dolorum repudiandae architecto inventore esse quidem voluptatum veritatis voluptates, a, tempore sequi laborum vitae suscipit mollitia nisi nihil ducimus nulla velit molestias incidunt doloremque, dolores provident quisquam. Alias, vitae.</p>
</section>

<!-- blog me  -->

<!-- BlogCard: varsaa 
!BlogCard: yoksa -->

<section id="blog_id">

<h2 class="text-center display-4  mb-4 mb-4 ">{{MyOnePageContent[2].title | uppercase}}</h2>


<ng-container *ngIf="blogCard; then blog; else noBlogCard"></ng-container>

<ng-template #blog>

    <div class="container">
        <div class="row">


            <div *ngFor="let temp of blogCard" class="col-sm-12 col-md-3 col-lg-4">
                <!-- <a [href]="temp.link"> -->
                <div class="card mb-3">
                    <img class="card-img-top" 
                    [src]="temp.picture"
                     alt="photo"/>
                    <div class="card-body">
                        <h4 class="card-title">{{temp.id}}</h4>
                        <p class="card-text">{{temp.title}}</p>
                        <p class="card-text">{{temp.description}}</p>
                        <span class="text-muted float-end">{{temp.date}}</span>
                    
                    </div>
                </div>
            <!-- </a> -->
            </div>
       
           

        </div>
    </div>
</ng-template>

<ng-template #noBlogCard>
    <form action="#">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" 
                    title="blog ara" 
                    placeholder="blog ara"
                    class="form-control mb-3"/></div>
                <div class="col-md-2"><button class="btn btn-primary">Ara</button>
                </div>
    <div class="alert alert-primary mt-2">blog yoktur</div>

            </div>
        </div>


    </form>
</ng-template>





</section>


<!-- contact me  -->
<section id="contact_id"></section>
<h2 class="text-center display-4  mb-4 mb-4 ">{{MyOnePageContent[3].title | uppercase}}</h2>


    </main>

</div>


