<div id="main_id" class="container-fluid" style="margin-top:5rem;">
    <main>
        <section id="business_id">
            <h2 class="text-center text-dark fw-bold display-4 text-primary mb-4 mb-4">{{MyOnePageContent[0].title | uppercase}}</h2>
        
            <div class="container">
                
            <div class="row">
                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <div class="service-box">
                    <i class="fa-solid fa-code" ></i>
                    <h4>Frontend</h4>   
                    <p>My job is to design and develop front end. 
                        I have a lot of work that I do as front end. I have worked with HTML5, CSS3, Tailwind, Bootstrap and I can use them actively.
                        
               
                    </div>
            </div>

            
                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <div class="service-box">
                    <i class="fa-solid fa-computer"></i>
                    <h4>Backend</h4>   
                    <p>While developing projects, I generally worked as frontend - backend. Languages I know as backend: Java, C#, C, Python, Javascript, Typescript.
                         In my graduation project: I created a website with an admin panel using .NET.
                
                        </div>
            </div>

          

                <div class="col-12 col-md-3 col-xl-4 text-center">
                    <div class="service-box">
                    <i class="fa-solid fa-laptop-code"></i>
                    <h4>UI-UX</h4>   
                    <p>Frontend design is a passion for me. I love doing frontend design, and I also love spending time while designing. 
                        That's why I also learned UI-UX design and shared it on my Behance profile.
                       
                
                    </div>
            </div>
               
            </div>
        </div>
        
        </section>
      
        
<!-- about me  -->
<section id="about_me_id">
<h2 class="text-center  display-4  mb-4 mb-4 "></h2>
    <p  style="font-size: 4rem; font-weight: bold;" >About me</p>
    <img src="/src/images/avatar.jpg">
   
<p style="font-size: 20px;"><span style="font-size: 12rem;"></span>Hello, I am Dilara Çakmak. I was born in 1999, I am from Bursa and I live in Bursa. 
    I completed my high school education at Bursa Çekirge Doğa College. 
    In high school, I took the t-MBA course, which is the structured version of the business administration master's program for high schools, 
    and successfully completed it. 
    I successfully completed my university education in Software Engineering (100% English) at Istanbul Aydin University. 
    I can actively speak English and I know basic German. I love doing research and keeping notes of my research. 
    I am someone who is interested and curious about learning. 
    I like to raise the energy of the environment I am in and I do it well because I have always been an energetic person. When I learn new things, 
    I try them, do research on them and eventually succeed. 
    Dealing with software is a great job for me. Besides, I like to design ui-ux and code small projects.
    If I have to talk about my social life: I love spending time with my friends and family, drawing, playing computer games, doing music, 
    doing handicrafts and playing tennis. That's all the short and concise information about me...</p>
</section>

<!-- blog me  -->

<!-- BlogCard: varsaa 
!BlogCard: yoksa -->

<section id="blog_id">
<a href="/blog">
<h2 class="text-center display-4  mb-4 mb-4 ">{{MyOnePageContent[2].title | uppercase}}</h2>
</a>

<ng-container *ngIf="blogCard; then blog; else noBlogCard"></ng-container>

<ng-template #blog>




    <div class="container">
        <div class="row">
            <div *ngFor="let temp of blogCard" class="col-sm-12 col-md-3 col-lg-4">
                
                <div class="card mb-3">
                    <img class="card-img-top" 
                    [src]="temp.picture"
                     alt="photo"/>
                    <div class="card-body">
                        <!-- <h4 class="card-title">{{temp.id}}</h4> -->
                        <p class="card-text">{{temp.title}}</p>
                        <p class="card-text">{{temp.description}}</p>
                        <span class="text-muted float-end">{{temp.date | date:"fullDate"}}</span>
                    <!-- <a [href]="temp.link" | class="btn btn-info">Show Details</a> -->
                    <!-- <a (click)="showDetails()" href="temp." class="btn btn-info"></a> -->
                    <!-- <button class="btn btn-info" (click)="showDetails()">Show Details</button> -->
                    </div>
                </div>
            </div>
       
           

        </div>
    </div>
</ng-template>

<ng-template #noBlogCard>
    <form action="#">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" 
                    title="blog ara" 
                    placeholder="blog ara"
                    class="form-control mb-3"/></div>
                <div class="col-md-2"><button class="btn btn-primary">Ara</button>
                </div>
    <div class="alert alert-primary mt-2">blog yoktur</div>

            </div>
        </div>


    </form>
</ng-template>





</section>


<!-- contact me  -->
<section id="contact_id">
<h2 class="text-center display-4  mb-4 mb-4 ">{{MyOnePageContent[3].title | uppercase}}</h2>

</section>
    </main>

</div>


