p{
    text-transform: capitalize;
    text-align: justify;
}
img{
transition: 2s all;
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.my_clearfix::after{
    content:"" ;
    clear: both;
    display: table;
}
.line-clamp4{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


#business_id i{
  font-size: 5rem;
}

#about_me_id{
color: white!important;
height: 50rem;
padding: 2rem;
background-image: url('../../images/back.jpg');
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed ;
background-size: cover;
border-radius: 80px;

}

/* #blog_id {

  } */

.container {
    padding: 20px; 
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    /* önemli */
    margin: -20px; 
  }
  
.card-body {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .card-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .text-muted {
    color: #888;
    font-size: 12px;
    float: right;
  }