<div id="main_id" class="container" style="margin-top:5rem;">
    <main>
<!-- about me  -->
<section id="about_me_id">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum cupiditate aut illo excepturi tempore impedit magnam corporis velit suscipit quaerat deserunt corrupti commodi ut, iste voluptatem voluptate eum culpa!
    Ab inventore at soluta alias repellendus porro non earum. Perspiciatis nemo quisquam facere necessitatibus ad, harum quis minus iste magni dolore ipsum aut rem atque, voluptatem officia exercitationem quibusdam error!
    Omnis maiores eaque deserunt, impedit sed quaerat iste. Optio tempore, distinctio amet deserunt exercitationem cupiditate molestias, totam, sunt minima molestiae porro aperiam similique iure itaque expedita laudantium facilis vel officia.
    Ut, hic nisi qui expedita soluta vero! Recusandae nam voluptates nemo, saepe alias omnis magnam harum suscipit perferendis. Molestiae quia minima fuga officia ratione sapiente inventore laboriosam asperiores quae quod?
    Esse nam facilis odit, repellat cupiditate corporis non quibusdam, atque commodi modi obcaecati? Repudiandae sunt ab itaque error culpa ipsa vel, impedit quasi magnam aliquam facilis asperiores non adipisci sequi.
    Enim alias, id sequi aperiam autem numquam commodi sint, itaque dolores quia minus error eveniet totam debitis quod. Quam ab tempore dolor aliquam aliquid impedit? Explicabo deserunt eveniet nihil dignissimos.
    Aliquam minima pariatur quas possimus voluptates, accusamus officia eveniet maiores nobis debitis consequatur quasi tenetur. Autem commodi, voluptatem, dicta amet quasi explicabo ea sunt harum maxime fugit earum, culpa atque.
    Et ipsam aperiam nulla ad impedit officiis, nostrum pariatur placeat possimus provident modi vero maiores incidunt at blanditiis nesciunt assumenda excepturi! Id similique expedita quibusdam fugiat sint blanditiis possimus quae.
    Ex quas magnam, voluptates fuga maiores cumque doloremque sapiente laudantium ipsam nostrum suscipit reprehenderit eveniet fugit delectus veritatis ipsum pariatur quo iure. Omnis, voluptate unde eaque molestiae sapiente ipsam in!
    Dolor exercitationem nostrum obcaecati tenetur quaerat laboriosam ratione vitae ducimus natus fugit veritatis dolore, officiis itaque excepturi facere delectus commodi reiciendis dolores nisi perspiciatis placeat iure libero autem. Sed, corporis?
    Error labore ad quas quis culpa, pariatur ipsa unde nisi autem ducimus expedita reprehenderit commodi distinctio accusantium iure nostrum incidunt nulla beatae, praesentium minus qui saepe. Veritatis aspernatur corrupti a.
    Corporis distinctio explicabo dolorem nisi, ipsa atque perferendis incidunt quas aliquam eveniet omnis voluptatibus magni accusamus praesentium natus accusantium dicta fuga ab. Quae tempora, rerum eaque mollitia eligendi eius accusamus.
</section>

<!-- blog me  -->
<section id="blog_id">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="photo"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg" alt="cat"/>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- contact me  -->
<section id="contact_id"></section>

    </main>

</div>


